{{!< default}}

<section class="gh-about gh-outer{{#match @custom.header_section_layout "!=" "Typographic profile"}}{{#unless @site.cover_image}} no-image{{/unless}}{{else}}{{#unless @site.icon}} no-image{{/unless}}{{/match}}">
    <div class="gh-about-inner gh-inner">
        {{#match @custom.header_section_layout "!=" "Typographic profile"}}
            {{#if @site.cover_image}}
                <img class="gh-about-image" src="{{@site.cover_image}}" alt="{{@site.title}}">
            {{/if}}
        {{else}}
            {{#if @site.icon}}
                <img class="gh-about-image" src="{{@site.icon}}" alt="{{@site.title}}">
            {{/if}}
        {{/match}}
        <script>
            (function () {
                if (!document.body.classList.contains('has-background-about')) return;

                const about = document.querySelector('.gh-about');
                if (!about) return;

                const image = about.querySelector('.gh-about-image');

                about.style.setProperty('--about-height', image.clientWidth * image.naturalHeight / image.naturalWidth + 'px');
                about.classList.add('initialized');
            })();
        </script>
        <div class="gh-about-content">
            <div class="gh-about-content-inner">
                {{#if @custom.primary_header}}
                    <h1 class="gh-about-primary">{{{@custom.primary_header}}}</h1>
                {{/if}}
                {{#if @custom.secondary_header}}
                    <p class="gh-about-secondary">{{{@custom.secondary_header}}}</p>
                {{/if}}
                <p class="gh-about-secondary">As a <strong>user experience expert</strong>, <strong>product manager</strong> and <strong>web/mobile developer</strong>, I have more than 15 years of experience and have held senior technical roles at <strong>Google</strong> and <strong>Al Jazeera.</strong></p>
                <p class="gh-about-secondary">My goal is always that the sites and apps I build are wonderful, usable, and <strong>successful beyond expectations.</strong></p>
                <p class="gh-about-secondary gh-about-cta">Interested in working together? <a href="#contact-form">Contact me</a> and let's get started!</p>
                {{#if @site.members_enabled}}
                    {{#unless @member}}
                        <div class="gh-subscribe-input" data-portal>
                            you@example.com
                            <span class="gh-btn gh-primary-btn">Contact</span>
                        </div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

<main class="gh-main gh-outer">
    
    <section id="featured-work">
        <h2>Featured work</h2>
        <div class="gh-feed gh-inner">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
    </section>
    <h2>Contact me</h2>
    <div id="contact-form">
<form action="https://getform.io/f/987c8ef1-037c-44aa-91d0-51c80cb0a0c5" method="POST">
            <label for="full-name">Name</label>
            <input type="text" name="name" id="full-name" placeholder="Your full name" required>
            <label for="email-address">Email Address</label>
            <input type="email" name="_replyto" id="email-address" placeholder="Your email address" required>
            <label for="message">Your Message</label>
            <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
            <input type="hidden" name="_gotcha" style="display:none !important">
            <input class="gh-btn gh-primary-btn " type="submit" value="Submit">
        </form>
    </div>
</main>

{{#contentFor "body_class"}}{{#match @custom.header_section_layout "Side by side"}} has-side-about{{/match}}{{#match @custom.header_section_layout "Large background"}}{{#if @site.cover_image}} is-head-transparent has-background-about{{else}} has-side-about{{/if}}{{/match}}{{#match @custom.header_section_layout "Typographic profile"}}{{#if @site.icon}} has-typographic-about{{else}} has-side-about{{/if}}{{/match}}{{/contentFor}}
